#root {
   display: flex;
   align-items: flex-start;
   width: 100vw;
   min-height: 100dvh;
   overflow-y: auto;
   >div{
      display: flex;
      flex-grow: 1;
   }
}

main{
   width: 100dvw;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.logo {
   height: 6em;
   padding: 1.5em;
   will-change: filter;
   transition: filter 300ms;
   &:hover{
      filter: drop-shadow(0 0 2em #646cffaa);
   }
   &.react{
      &:hover{
         filter: drop-shadow(0 0 2em #61dafbaa);
      }
   }
}

@keyframes logo-spin {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}

@media (prefers-reduced-motion: no-preference) {
   a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
   }
}

.containerCenter{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100dvh;
   flex-direction: column;
}

.overflowVisible{
   overflow: visible !important;
}

.card {
   padding: 2em;
   &Center{
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 30dvw;
      width: 100%;
      padding: 1rem;
      margin: 1rem;
      overflow: visible !important;
   }
}

.read-the-docs {
   color: #888;
}

nav{
   // display: none;
   display: flex;
   align-items: center;
   justify-content: center;
   >a{
      padding: 0.5rem;
      &:not(:last-child){
         margin-right: 1rem;
      }
   }
}

form{
   .inputForm{
      margin-bottom: 1rem;
   }
}

.logoSite{
   &.login,
   &.register{
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      >img{
         max-width: 20vw;
         margin-top: -6rem;
      }
   }
}

.contenedor {
   width: 100dvw;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
   div {
      display: flex;
      padding: 0px 1rem;
   }

   .fila {
      max-width: clamp(320px, 1110px, 1366px);
      width: 100%;
      align-items: center;
      justify-content: center;
      margin: 0 -1rem;

      .col{
         flex-shrink: 0;
         flex-grow: 1;
         &-auto{
            flex-shrink: 1;
            flex-grow: 0;
            width: fit-content;
         }
      }
   }
}